<div class="container main-container">
    <h4>Demo Cadastro</h4>
    <hr />
    
     <!-- novalidate é um bool que representa que os dados nao serao validados antes de serem enviados -->
     <!-- Para submeter um formulário pelo Angular é necessario do evento ngSubmit, passando um métodoß-->
    <form novalidate (ngSubmit)="addUser()" [formGroup]="cadastroForm">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label"for="nome" >Nome Completo</label>
                <div class="col-md-10">
                    <!-- ngClass adiciona uma classe dependendo de uma condição -->
                    <input class="form-control" 
                        id="nome" 
                        type="text" 
                        placeholder="Nome (Obrigatório)" 
                        formControlName="nome"
                        [ngClass]="{'is-invalid': displayMessages.nome}"
                    />
                    <span class="text-danger" *ngIf="displayMessages.nome">
                        <p [innerHTML]="displayMessages.nome"></p>
                    </span>
                    
                    <!-- Mostando a mensagem de erro só após o usuário ter interagido com o formulário -->
                    <!-- Mesmo o formulário estando inválido ele submete para a função -->
                    <!-- <span class="text-danger" *ngIf="cadastroForm.get('nome').errors && (cadastroForm.get('nome').dirty || cadastroForm.get('nome').touched)">
                        <p>Preencha o campo</p>
                    </span> -->
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="cpf" >CPF</label>
                <div class="col-md-10">
                    <input 
                        class="form-control" 
                        id="cpf" 
                        type="text" 
                        placeholder="CPF (Obrigatório)" 
                        formControlName="cpf" 
                        [ngClass]="{'is-invalid': displayMessages.cpf}"
                    />
                    <span class="text-danger" *ngIf="displayMessages.cpf">
                        <p [innerHTML]="displayMessages.cpf"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="email" >E-mail</label>
                <div class="col-md-10">
                    <input class="form-control" 
                        id="email" 
                        type="email" 
                        placeholder="Email (Obrigatório)" 
                        formControlName="email"
                        [ngClass]="{'is-invalid': displayMessages.email}"
                        />
                        <span class="text-danger" *ngIf="displayMessages.email">
                            <p [innerHTML]="displayMessages.email"></p>
                        </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="senha" >Senha</label>
                <div class="col-md-10">
                    <input class="form-control"
                        id="senha" type="password"
                        placeholder="Senha (Obrigatório)" 
                        formControlName="senha"
                        [ngClass]="{'is-invalid': displayMessages.senha}"
                        />
                        <span class="text-danger" *ngIf="displayMessages.senha">
                            <p [innerHTML]="displayMessages.senha"></p>
                        </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="confirm-senha" >Confirme a senha</label>
                <div class="col-md-10">
                    <input class="form-control"
                        id="confirm-senha" 
                        type="password" 
                        placeholder="Confirme a Senha (Obrigatório)" 
                        formControlName="confirmSenha"
                        [ngClass]="{'is-invalid': displayMessages.confirmSenha}"
                        
                    />
                    
                    <span class="text-danger" *ngIf="displayMessages.confirmSenha">
                        <p [innerHTML]="displayMessages.confirmSenha"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span>
                        <button class="btn btn-success" id="Registrar" type="submit" [disabled]="!cadastroForm.valid">
                            Registrar
                        </button>
                    </span>
                </div>
            </div>

            
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span>
                        Formulário válido: 
                        <strong>{{ cadastroForm.valid }}</strong>
                    </span>

                    <br>

                    <span>
                        Valor do formulário:
                        {{ formResult }}
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
