<div class="task-list">
    <h3>
        <ng-content></ng-content>
    </h3>

    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let item of list; index as i"> <!-- Pegando o índice do array-->
                <td>
                    <span>
                        {{ item.nome  }}

                        <span *ngIf="!item.finalizado && item.iniciado" (click)="toggleItem(i, 'finalizar')" class="task-list__finalizado"></span> 
                        <span *ngIf="!item.finalizado && !item.iniciado" (click)="toggleItem(i, 'iniciar')"  class="task-list__iniciado"></span>
                        <span *ngIf="item.finalizado && !item.iniciado" (click)="toggleItem(i, 'retomar')"  class="task-list__retroceder"></span>
                        <span *ngIf="!item.finalizado && item.iniciado" (click)="toggleItem(i, 'cancelar')"  class="task-list__retroceder"></span>
                        <span (click)="deleteItem(item.id)" class="task-list__excluir"></span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table> 
</div>