  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center">
              <h1>Crie sua conta</h1>
              <p class="text-h3">Ao criar sua conta você poderá fazer coisas</p>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col mt-4">
              <input type="text" class="form-control" placeholder="Nome">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="email" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="password" class="form-control" placeholder="Senha">
            </div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Confirmar senha">
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  Eu li e aceito os <a href="#">Termos e Condições</a>
                </label>
              </div>

              <button class="btn btn-primary mt-4">Cadastrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
